{% extends '::base.html.twig' %}

{% block body -%}

{% include 'PilotNewslineBundle::menu.html.twig' %}

    <h1>Автор</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>Логин</th>
                <td>{{ entity.login }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Новости автора:</h3>
    <div>
        {% for item in news %}
            <a href="{{ path('news_show', { 'id': item.id }) }}">{{ item.id }}</a>
            &nbsp;
        {% endfor %}
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('author') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('author_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
